@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: Roboto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-shadow: 0px 4px 3px rgba(255, 0, 0, 0.836)
}

.navbar-brand:hover {
    color: white;
}

.navbar-nav .nav-item:not(#home-link) .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-item:not(#home-link) .nav-link:hover {
    color: rgb(255, 0, 0);
}

.nav-item {
    font-size: 1.2rem;
}

#contactBtn:hover {
    background-color: rgb(0, 0, 0);
}

.small {
    margin-top: 0.3rem;
}

span {
    color: red;
}


#contactBtn {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 13px 15px;
    border-radius: 9999rem;
}

h1 {
    font-size: 3.5rem;
}

.home-text {
    font-size: 1.3rem;
    color: grey;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.main-container {
    margin: 10rem 0px 10rem 0px;
}

.link {
    text-decoration: none;
}

#avatar {
    margin-top: 0px;
}


.stack {
    display: flex;
    align-items: center;
    margin-left: 10rem;
    margin-top: 6rem;
    gap: 2rem;
}

.about {
    margin: 6rem auto;
}

.about-img {
    height: 400px;
    width: 300px;
    border-radius: 3px;
}


@media screen and (max-width: 771px) {
    .small {
        margin-left: 1.4rem;
    }
    
    .stack {
        flex-wrap: wrap;
        margin-left: 0.5rem
    }

    .images ul {
        flex-wrap: wrap;
    }

    h5 {
        margin: auto;
    }

    .main-container {
        margin: 5rem 0px 10rem 0px;
    }

    .container {
        text-align: center;
    }

    h5 {
        margin-bottom: 2rem;
    }

    .about-img {
        margin-bottom: 1rem;
    }
}

.projects {
    margin: 6rem auto;
}

.text {
    color: grey;
}

.images ul {
    display: flex;
    list-style-type: none;
    gap: 3rem;
}

.portrait {
    height: 400px;
    border-radius: 3px;
}

.card {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: 0.3s ease-in-out;
    text-align: center;
}

.card-stack {
    margin: 2rem auto;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}