@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    border-style: none;
    outline: none;
}

/* WIDTH */

.ele-100,
.ele-90,
.ele-50,
.ele-40,
.ele-33,
.ele-30,
.ele-25,
.ele-10 {
    float: left;
    display: block;
    position: relative;
}

.ele-100 {
    width: 100%;
}

.ele-90 {
    width: 90%;
}

.ele-50 {
    width: 50%;
}

.ele-40 {
    width: 40%;
}

.ele-33 {
    width: 33.3333%;
}

.ele-30 {
    width: 30%;
}

.ele-25 {
    width: 25%;
}

.ele-10 {
    width: 10%;
}

/* COLORS */

.c-grey {
    color: grey;
}

.c-blue {
    color: #3a84fc;
}

.c-white {
    color: white;
}

.c-black {
    color: black;
}

.bg-black {
    background: black;
}

.c-red {
    color: red;
}

.c-green {
    color: green;
}

/* FONT SIZE */
.f-s-18 {
    font-size: 18px;
    line-height: 20px;
}

.f-s-24 {
    font-size: 24px;
    line-height: 26px;
}

.f-s-28 {
    font-size: 28px;
    line-height: 30px;
}

.f-s-32 {
    font-size: 32px;
    line-height: 34px;
}

.f-s-34 {
    font-size: 34px;
    line-height: 36px;
}

.f-s-48 {
    font-size: 48px;
    line-height: 50px;
}

.f-s-70 {
    font-size: 70px;
    line-height: 72px;
}

/* MARGINS, PADDINGS, ALIGNS*/
.mg-t {
    margin-top: 10px;
}

.mg-t-20 {
    margin-top: 20px;
}

.mg-b-30 {
    margin-bottom: 30px;
}

.mg-b-50 {
    margin-bottom: 50px;
}

.mg-b-140 {
    margin-bottom: 140px;
}

.mg-b-200 {
    margin-bottom: 200px;
}

.mg-r-20 {
    margin-right: 20px;
}

.mg-r-30 {
    margin-right: 30px;
}

.al-l {
    text-align: left;
}

.al-r {
    text-align: right;
}

.al-c {
    text-align: center;
}

/* CONTENT */

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    box-shadow: 0px 6px 20px 5px #e9e9e9
}

.navbar-brand {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    padding-left: 50px;
}

.navbar ul li a {
    color: black;
    padding: 10px;
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    color: grey;
}

.introduction {
    margin-top: 280px;

}

#home a:hover {
    color: #72a8ff;
}

.home-text {
    color: grey;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.about-img {
    border-radius: 30px;
}

.about {
    padding-left: 20px;
}

.portfolio {
    padding-left: 50px;
}

.portfolio-r {
    padding-right: 50px;
}

.gh-link {
    font-size: 26px;
    color: black;
    text-decoration: none;
}

#footer {
    color: white;
    background-color: black;
}

#footer a:hover {
    color: #c5c5c5;
}

.header {
    font-weight: 500;
    text-transform: uppercase;
    color: #3a84fc;
    margin-bottom: 20px;
}

.contact-ft {
    padding-left: 40px;
}

.line {
    margin-top: 100px;
    margin-bottom: 250px;
}

.subheader {
    font-weight: bold;
}

.about-text {
    font-size: 22px;
    color: grey;
}


.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tech-stack {
    text-align: center;
}

.portrait {
    clip-path: circle();
}

.home-circle {
    padding-left: 150px;
}


/* PORTRAIT ANIMATION */
.box {
    position: relative;
    width: 510px;
    height: 510px;
    background: black;
    border-radius: 50%;
    margin-top: 200px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, rgb(160, 136, 136), rgb(255, 255, 255));
    transition: 0.8s;
    animation: animate 4s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

h5 {
    font-size: 30px;
    margin: 10px 0px 50px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 30px;
    border: 6px solid black;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .content img {
    opacity: 0;
    transition: 0.8s;
}

.content h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: uppercase;
}

.content h2 span {
    font-weight: 300;
    font-size: 0.75em;
}

.content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 16px;
    border-color: rgb(0, 0, 0);
    font-weight: 500;
}

.content a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}